<!DOCTYPE html>
<html class="gr__amazon_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page Not Found</title>

</head>
<body data-gr-c-s-loaded="true">
<div align="center" id="h">
    <div>
        <img alt="Sorry! We couldn&#39;t find that page" src="images/sorry.png">
    </div>
    <a>
        <img id="d" alt="Dogs" src="">

        <script>document.getElementById("d").src = "images/dog_" + Math.floor(Math.random() * 16) + ".jpg";</script>
    </a>
</div>
</body>
</html>