<!DOCTYPE html>
<html class="gr__amazon_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amazon.com Page Not Found</title>

</head>
<body data-gr-c-s-loaded="true">
<div align="center" id="h">
    <div>
        <img src="./sorry.png"
             alt="Sorry! We couldn&#39;t find that page">
    </div>
    <img id="d" alt="Dogs" src="./dog.jpg">
<!--    <script>document.getElementById("d").src = "/dog_" + Math.floor(Math.random() * 10) + ".jpg";</script>-->
</div>
</body>
</html>